/*Section - вторая часть страницы*/
.section
{
	padding: 80px 0;
}
.section_header
{
	width: 100%;
	max-width: 950px;
	margin: 0 auto;
	text-align: center;
}
/* Самый первый текст*/
.section_suptitle
{
	font-family: 
	font-size: 24px;
	color: #333;
}
/*большой текст в центре*/
.section_title 
{
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}
/*полоска между текстами*/
.section_title:after
{
content: "";
display: block;
width: 60px;
height: 3px;
margin: 30px auto;
background-color: #f38181;
}
/*заголовок над текстом*/
.section_text
{
	font-size: 15px;
	color: #999;
}
.about
{
	display: flex;
	justify-content: space-between;
}
.about_item
{
	width: 30%;
}
